.game-over-overlay {
    /* Negru (0,0,0) cu 70% opacitate (0.7) */
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.play-again-button {
    -fx-background-color: #2ecc71;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10 30;
    -fx-background-radius: 20;
    -fx-cursor: hand;
}

.play-again-button:hover {
    -fx-background-color: #27ae60;
}