#rootPane {
    
    -fx-background-color: radial-gradient(
        focus-angle 0deg, 
        focus-distance 0%, 
        center 50% 50%, 
        radius 100%, 
        #003B73 0%, 
        #000428 100%
    );
}

#gameCanvas {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 255, 255, 0.3), 30, 0.2, 0, 0);
}


#overlayLayer {
    -fx-background-color: rgba(0, 10, 40, 0.75);
}